@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <form method="post">
        <input type="text" name="name" placeholder="Name" />
        <input type="text" name="price" placeholder="price" />
        <input type="text" name="img" placeholder="image" />
        <input type="submit" name="submit" value="submit" />
    </form>
</main>