
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Profile</h2>

<p>Welcome, @User.Identity.Name!</p>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">User Details</h5>
        <p class="card-text">Email: @User.Identity.Name</p>
        <p> HEEEELLLLLLLLOOOOO WWWWWOOOOOOORRRRRLLLLDDDDD</p>
    </div>
</div>

