@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="jumbotron">
        <h1>Welcome to Our Library System</h1>
        <p class="lead">A simple and efficient way to manage your library's resources.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Features</h2>
            <p>Our library system offers a variety of features to help you manage books, authors, sections, categories, and users efficiently.</p>
            <ul>
                <li>Manage Books and Authors</li>
                <li>Organize by Sections and Categories</li>
                <li>User Management</li>
                <li>Employee Management</li>
            </ul>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>About Us</h2>
            <p>We are dedicated to providing the best library management solution. Our team works hard to ensure that your library runs smoothly and efficiently.</p>
            <p><a class="btn btn-default" href="#" role="button">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Contact</h2>
            <p>If you have any questions or need support, feel free to reach out to us. We are here to help you with all your library management needs.</p>
            <address>
                <strong>Library System Inc.</strong><br>
                1234 Library Lane<br>
                Booktown, BK 56789<br>
                <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
            <p><a class="btn btn-default" href="#" role="button">Contact us &raquo;</a></p>
        </div>
    </div>

    <div class="footer">
        <p>&copy; 2024 Library System Inc.</p>
    </div>
</main>